@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:hover {
  color: #ffa500;
  transition: transform 1s ease-in-out;
}

p {
  font-size: 13px;
  line-height: 19px;
  opacity: 0.5;
}

li {
  display: inline-block;
  list-style-type: none;
}
/* for headings  */
.headertext {
  font-size: 35px;
  font-weight: bold;
  color: #48d493;
}
/*for wrapper*/
.wrapper {
  max-width: 1519px;
  width: 88.4%;
  margin: 0 auto;
}

/* for container  */
.container {
  background-color: #000;
}

/*=================================
  Header styling starts here
=================================*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  box-sizing: border-box;
}

header .wrapper {
  padding: 21px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
}

.logo {
  font-size: 16px;
  font-weight: bold;
}
.logo a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.hamburger,
.cross {
  display: none;
  text-indent: -9999px;
}
.hamburger::before,
.cross::before {
  content: "\f0c9";
  text-indent: 0;
  color: #ffffff;
  font-family: "fontAwesome";
  float: right;
}
.cross::before {
  content: "\f00d";
}

.menus {
  flex-basis: 44%;
  box-sizing: border-box;
  font-size: 14px;
}

.menus ul {
  display: flex;
  column-gap: 36px;
  box-sizing: border-box;
}

.menus ul li {
  padding-bottom: 3px;
  text-align: center;
  border-bottom: 2px solid transparent;
  box-sizing: border-box;
}

.menus ul li:hover {
  border-color: #fff;
}
.menus ul li a {
  color: #fff;
}

.contact {
  padding: 8px 14px;
  margin-right: 28px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 11px;
}
/*=================================
  Header styling ends here
=================================*/

/*=================================
  main styling starts here
=================================*/
/* banner styling starts  */
.banner {
  position: relative;
}

.banner .wrapper h2 {
  width: 45%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 86px;
  font-weight: bold;
}

/* banner styling ends  */
/* step up your fitness starts  */
.step-up-your-fitness {
  padding-top: 4%;
  color: #fff;
}

.step-up-your-fitness .wrapper {
  width: 57.5%;
}

.step-up-your-fitness h2 {
  width: 62%;
}

.counter-icon {
  width: 36px;
  height: 46px;
  margin-right: 12px;
  display: inline-block;
}

.counter {
  display: flex;
}

.counter-content {
  flex-basis: 19.8%;
  display: flex;
}

.counting-number {
  font-size: 32px;
  font-weight: bold;
}

.counter-title {
  display: block;
  font-size: 13px;
}

.fitness-info {
  margin-top: 95px;
  display: flex;
}

.fitness-info figure img {
  box-shadow: 10px 10px #48d493;
}

.fitness-content {
  flex-basis: 37.4%;
}

.fitness-description {
  width: 77%;
  margin-top: 24px;
  line-height: 24px;
}

.get-in-touch {
  padding: 16px 24px;
  margin-top: 38px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #48d493;
  color: #000;
  font-size: 9px;
  font-weight: bold;
}
/* step up your fitness ends  */
/* class section starts  */
.classes {
  margin-top: 145px;
  color: #fff;
}
.classes .wrapper {
  width: 58%;
}

.classes h2,
.classes-content {
  margin-top: 26px;
}

.classes-content {
  width: 33%;
  line-height: 24px;
}

.classes-slider {
  margin-top: 48px;
}

.slider-content1 {
  display: flex;
}

.slider-content2,
.slider-content3 {
  display: none;
}

.slider-controls {
  text-align: center;
}

.slider-button {
  display: inline-block;
  text-indent: -9999px;
}

.slider-button::before {
  content: "\f1db";
  font-family: "fontAwesome";
  float: right;
  cursor: pointer;
  font-size: 10px;
  text-indent: 0;
}

.slider-button:hover::before {
  border-radius: 100%;
  background-color: #48d493;
}

.slider-controls {
  margin-top: 34px;
}

/* class styling ends  */
/* schedule styling starts  */
.schedule {
  margin-top: 144px;
  background-color: #000;
}

.schedule .wrapper {
  width: 58.1%;
}

.schedule-description {
  width: 33%;
  margin-top: 23px;
  color: #fff;
  line-height: 24px;
}

.days {
  margin: 36px 0 36px 181px
}

.days span {
  padding: 15px;
  color: #48d493;
  font-size: 13px;
  cursor: pointer;
}

.days span:hover {
  border-radius: 3px;
  background-color: #48d493;
  color: #fff;
}

.schedule ul {
  width: 100%;
  display: flex;
  color: #fff;
}

.schedule ul li {
  padding: 17px 0 17px 10px;
  border: 1px solid #fff;
}
.timetable {
  margin-top: 46px;
}

.activity {
  width: 24%;
}

.time {
  width: 33%;
}

.trainer {
  width: 24.5%;
}

.joining-action {
  width: 17.3%;
  text-align: center;
}

/* schedule styling ends  */
/* trainers styling starts  */
.trainers {
  margin-top: 156px;
  color: #fff;
}
.trainers .wrapper {
  width: 58.1%;
}

.trainer2 figure {
  margin-top: 36px;
}

.trainers-description {
  width: 33%;
  margin-top: 2%;
}

.trainers-info {
  width: 100%;
  margin-top: 4.2%;
  display: flex;
  column-gap: 55px;
}

.trainers-info figure {
  box-shadow: 10px 10px #48d493;
}

.trainer-name {
  margin-top: 15%;
  display: block;
  font-size: 20px;
}

.trainer-post {
  display: block;
  margin-top: 3.4%;
  font-size: 13px;
}
.trainer-info {
  margin-top: 10%;
}

/* trainers styling ends  */
/* our featured services styling starts */
.our-featured-services .wrapper{
  width: 58.1%;
  padding-bottom: 4%;
  margin-top: 10.3%;
  color: #fff;
}

.featured-services-description {
  margin-top: 2.5%;
  width: 33%;
}

.featured-services-silder {
  margin-top: 4.5%;
}

.featured-services-slider-content1 {
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.featured-services-slider-content1 figure {
  width: 57px;
  height: 46px;
}

.featured-services-slider-content2 {
  display: none;
}

.featured-services-slider-content1 li {
  flex-basis: 18.5%;
  padding: 58px 52px;
  background-color: #48d493;
}
.service-title {
  margin-top: 23%;
  display: block;
  font-size: 19px;
}

.service-description {
  margin-top: 13%;
  font-size: 13px;
}

.featured-slider {
  width: 100%;
  text-align: center;
}
/* our featured services styliing ends  */
/* contact us section starts  */
.contact-us {
  color: #fff;
}

.contact-us .wrapper {
  width: 37.2%;
  padding-bottom: 5.1%;
}

.contact-us p {
  margin-top: 3.3%;
  font-size: 13px;
}

.contact-form {
  margin-top: 8%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  justify-content: space-between;
}

label {
  display: none;
}

.first-name,
.last-name {
  flex-basis: 44.5%;
}
.subject,
.email,
.message {
  flex-basis: 100%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
}

textarea,
input {
  padding-left: 10px;
  border: 2px solid #fff;
  background: #000;
  color: #fff;
  opacity: 0.8;
}

input {
  padding: 6px 0 6px 10px;
}

.submit-button {
  padding: 15px 85px;
  border: none;
  border-radius: 3px;
  background-color: #48d493;
  color: #000;
  font-size: 8px;
  font-weight: bold;
}
/* contact us section ends  */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/
footer {
  color: #fff;
}

footer .wrapper {
  width: 58.1%;
}
footer p {
  font-size: 12px;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
}

.footer-contents li {
  flex-basis: 52%;
}

.footer-contents h2 {
  font-size: 12px;
  font-weight: bold;
}
.links {
  text-align: center;
}

.links h2 {
  margin-bottom: 8%;
}
.links a {
  margin-bottom: 15px;
  display: block;
  color: #48d493;
  font-size: 14px;
}

.links a:hover {
  color: #ffa500;
}

.footer-contents p {
  margin-top: 7%;
}
footer form {
  margin-top: 6%;
  display: flex;
}
.footer-email input[type="email"] {
  padding: 8px 17px 8px 5px;
}

.subscription-button input[type="submit"] {
  padding: 13px 12px;
  border: none;
  background: #48d493;
  color: #000;
  font-size: 9px;
  font-weight: bold;
}

.footerbar {
  padding-bottom: 12%;
  margin-top: 15%;
  text-align: center;
  font-size: 12px;
}

.green-text {
  color: #48d493;
}
/*=================================
  footer styling ends here
=================================*/

/* media query starts
@media only screen and (max-width: 1440px) {
  .schedule {
    padding-left: 0;
  }
} */
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {
  header .wrapper,
  .counter-content,
  .fitness-info,
  .trainers-info,
  .contact-form,
  .footer-contents,
  .footer-form {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }

  .counter {
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
  }

  .contact {
    margin: 0;
  }

  .banner .wrapper h2 {
    width: 100%;
    top: 85%;
    font-size: 50px;
  }

  .featured-services-slider-content1,
  .featured-services-slider-content1 li,
  .featured-slider {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .featured-services-slider-content1 li figure {
    margin: auto;
  }

  .classes-content,
  .schedule-description,
  .trainers-description,
  .featured-services-description {
    width: 80%;
  }

  .contact-us p {
    width: 100%;
  }

  .schedule ul li {
    width: 100%;
    font-size: 12px;
  }

  .days {
    margin-left: 0;
  }
  .days span {
    padding: 8px 0;
    font-size: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .menus {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .menus ul {
    flex-direction: column;
    align-items: center;
  }

  .banner figure {
    height: 80vh;
  }

  .banner figure img {
    height: 100%;
  }

  .banner .wrapper h2 {
    font-size: 30px;
  }

  .counter-content {
    flex-basis: 50%;
  }
}
